html(lang="en")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(name="description" content="My name is Chris Dortch. I am Co-founder, Stockholder, Director, and President of Global Archive Holdings, Inc., which is the parent company to Global Archive, Inc. and owner of various innovative media technologies and brands.")
	meta(name="keywords" content="Chris Dortch, Projects, Awards, Chief Executive")
	meta(name="author" content="Chris Dortch")
	link(rel="shortcut icon" href="images/icon.png" type="image/x-icon")
	
	//
		//////////////////////////////////////////////////////
		Kalollero Marro.on ~ 
		Diseño y Desarrollo by kalollero Marro.on 
		Website:    http://.com
		Email:      @.com
		Facebook:   https://www.facebook.com/
		//////////////////////////////////////////////////////

	title Chris Dortch | Award-winning cinematography of Chris Dortch

	//Normalize 
	link(rel="stylesheet" href="css/normalize.css")
	
	//Style Landing Page
	link(rel="stylesheet" href="css/styles.css")

	//Estilos Hoja
	style(type='text/css').
		
body
	svg.hidden

		symbol#icon-motionloops(viewbox='-15.88 -124.613 512 512')
			title motionloops
			path(class="motionLoops", d='M154.58,106.976l1.632-0.87c7.371-3.963,13.479-9.921,17.626-17.19c12.408-21.511,5.028-49.008-16.483-61.417s-49.008-5.028-61.417,16.483l0,0c-4.237,7.284-6.312,15.624-5.984,24.044v1.85c-0.545,17.334-5.366,34.265-14.035,49.286c-8.638,15.01-20.862,27.645-35.577,36.774l-1.632,0.87c-7.378,3.994-13.513,9.941-17.734,17.19c-12.345,21.524-5.008,48.975,16.429,61.471c21.524,12.345,48.975,5.008,61.471-16.429c4.234-7.245,6.31-15.55,5.984-23.936v-1.85c0.633-17.252,5.45-34.091,14.035-49.068C127.512,129.009,139.777,116.221,154.58,106.976z')
			path(class="motionLoops", d='M334.533,106.976l1.632-0.87c7.347-3.996,13.447-9.945,17.625-17.19  c12.345-21.524,5.008-48.975-16.429-61.471c-21.544-12.39-49.052-4.99-61.471,16.538c-4.282,7.266-6.362,15.619-5.984,24.044v1.85  c-1.086,35.211-19.759,67.531-49.721,86.059l-1.523,0.87c-22.07,11.478-30.657,38.674-19.179,60.744  c11.478,22.07,38.674,30.657,60.744,19.179c7.774-4.044,14.202-10.266,18.492-17.907c4.234-7.245,6.31-15.55,5.984-23.936v-1.85  c0.701-17.186,5.554-33.948,14.144-48.851C307.435,128.987,319.706,116.192,334.533,106.976z')
			path(class="motionLoops", d='M420.158,151.257c-24.876-0.06-45.091,20.057-45.151,44.934c-0.06,24.876,20.057,45.091,44.934,45.151    c24.876,0.06,45.091-20.057,45.151-44.934c0-0.036,0-0.072,0-0.108C465.032,171.49,444.966,151.377,420.158,151.257z')
			path(class="motionLoops", d='M172.423,1.442C136.552-19.228,90.716-6.906,70.045,28.965c-0.001,0.001-0.001,0.002-0.002,0.003      c-7.022,12.066-10.491,25.869-10.01,39.82c-0.368,12.335-3.73,24.394-9.792,35.142c-6.236,10.704-14.971,19.737-25.459,26.329      c-36.519,19.503-50.312,64.918-30.808,101.437s64.918,50.312,101.437,30.808c12.397-6.62,22.682-16.593,29.684-28.778      c7.022-12.066,10.491-25.869,10.01-39.82c0.634-24.983,13.694-48.002,34.816-61.362c36.376-19.893,49.739-65.508,29.847-101.885      c-6.502-11.89-16.101-21.798-27.78-28.673L172.423,1.442z M186.893,96.423c-5.634,9.63-13.799,17.533-23.609,22.847l-1.197,0.653      c-25.395,16.001-41.207,43.549-42.214,73.547v0.979c1.082,33.031-24.818,60.684-57.848,61.765c-0.7,0.023-1.399,0.034-2.1,0.032      l0,0c-27.137,0.07-50.911-18.163-57.881-44.39c-7.247-26.917,5.018-55.277,29.593-68.434l1.197-0.653      c12.432-7.807,22.775-18.524,30.137-31.225C70.379,98.673,74.49,84.172,74.94,69.33v-1.305c-0.34-11.052,2.411-21.978,7.943-31.552      C93.626,17.909,113.44,6.468,134.888,6.444c33.168,0.097,59.977,27.065,59.88,60.233c-0.031,10.44-2.782,20.691-7.983,29.743      L186.893,96.423z')
			path(class="motionLoops", d='M352.376,1.442c-35.93-20.69-81.828-8.335-102.518,27.594c-6.949,12.069-10.405,25.832-9.98,39.752        c-0.35,12.366-3.792,24.448-10.01,35.142c-6.218,10.716-14.958,19.754-25.459,26.329c-36.462,19.609-50.124,65.064-30.514,101.527        s65.064,50.124,101.527,30.514c25.051-13.473,40.319-39.963,39.419-68.394c0.776-25.11,14.098-48.156,35.469-61.362        c36.376-19.893,49.739-65.508,29.847-101.885c-6.502-11.89-16.101-21.798-27.78-28.673V1.442z M366.846,96.423        c-5.634,9.63-13.799,17.533-23.609,22.847l-1.305,0.653c-12.579,7.814-23.071,18.566-30.572,31.334        c-7.407,12.87-11.519,27.371-11.968,42.214v0.979c1.082,33.031-24.817,60.684-57.848,61.766c-0.736,0.024-1.473,0.035-2.208,0.032        l0,0c-27.137,0.07-50.911-18.163-57.881-44.39c-7.12-26.908,5.111-55.192,29.593-68.434l1.197-0.653        c25.481-15.918,41.322-43.517,42.214-73.547v-1.197c-0.348-11.135,2.441-22.144,8.051-31.769        c10.743-18.564,30.557-30.005,52.005-30.028c33.168,0.097,59.977,27.065,59.88,60.233c-0.031,10.44-2.782,20.691-7.983,29.743        L366.846,96.423z')
			path(class="motionLoops", d='M420.158,121.337c-41.4,0-74.962,33.562-74.962,74.962s33.562,74.962,74.962,74.962          s74.962-33.562,74.962-74.962l0,0C495.119,154.899,461.558,121.337,420.158,121.337z M420.158,256.247          c-33.108,0-59.948-26.84-59.948-59.948s26.84-59.948,59.948-59.948s59.948,26.84,59.948,59.948          C480.045,229.383,453.241,256.187,420.158,256.247z')

		symbol#icon-globalArchive(viewbox='-15.88 -15.88 512 512')
			title globalArchive
			path.globalArchive(d='M317.613,89.769L71.223,231.51v30.468l272.883-157.636L317.613,89.769z M409.016,247.406v-30.468\
			L84.47,403.717l-51.663-29.143l427.871-246.39v239.766L239.458,495.12L109.64,420.938L409.016,247.406z M409.016,337.483v-30.468\
			L214.289,419.613l26.494,14.572L409.016,337.483z M19.562,112.288L239.458-14.88l51.663,30.468L71.223,142.756v30.468\
			l246.39-143.064l129.818,74.182L19.562,352.054V112.288z')

		symbol#icon-sig(viewbox='0 0 512 512')
			title sig
			path(d='M485.5,229.6c-12.4-1.4-24.5,0.7-36.4,3.8c-30.7,8-60.4,18.8-90.3,29.1c-1.9,0.7-3.8,1.4-5.8,3.4c2.9,0.1,4.9-0.5,7-1.1c14-4,27.8-8.9,41.7-13.4c20.2-6.6,40.3-13.8,61.4-16.8c8.4-1.2,17-1.7,25.4-0.3c12.5,2.1,18.5,11.5,17.4,25.5c-0.4,5.5-2.5,10.4-5.5,15c-5.1,7.7-11.3,14.3-19.1,19.4c-5.5,3.6-11.5,4.5-17.9,2.3c-1-0.3-2.2-0.8-2.3-2c-0.1-1.3,1.2-1.6,2.1-2.1c1.4-0.7,2.8-1.2,3.8-2.3c2.3-2.4,5.3-4.5,4.6-8.3c-0.4-2.1-5.9-3.5-10-2.8c-6.2,1-8.4,3.3-8.5,8.5c-0.1,5.9-0.1,6.1-5.9,7.5c-17.8,4.2-35,1.7-51.6-5.7c-2.6-1.2-4.6-3.1-5.9-5.8c-0.5-1-1.3-2-2.3-2.7c-1.4-1.1-3.3-1.9-4.7-0.4c-1.2,1.3,0.1,2.8,1.1,4c0.3,0.3,0.6,0.6,0.9,0.9c3.3,3.5,3.5,4.7,1.2,9.1c-3.1,6.2-6.9,11.9-11.4,17.1c-5.1,5.9-11.3,10.2-18.4,13.2c-7.1,3-13.1,0.5-16-6.6c-0.9-2.2-1.6-4.4-2.1-6.7c-2-8.5-2.3-17.2-3.4-25.9c-0.3-2.8,0.3-4.6,2.1-6.6c11.3-11.6,19.4-25.2,24.8-40.3c5.3-14.8,8-30.1,8.8-45.7c0.5-9.3,0-18.5-2.6-27.5c-6.3-21.9-23.8-32.9-41-34.7c-18.3-1.9-36.2,0.6-53.6,7c-24.1,8.8-45.7,21.3-62.8,40.8c-7.4,8.5-12.8,18.1-14.2,29.5c-0.6,4.6-1,9.2-1.2,13.8c-0.6,14.7-0.9,29.5,1.6,44.1c0.3,1.7,0.5,3.5,2.4,4.6c0.7-2.1,0.4-4.1,0.3-6c-0.6-14.4-1.8-28.8-0.8-43.2c1.3-18.5,7.5-34.8,21.3-47.3c27-24.4,57.9-39.8,95.3-39.4c5.6,0.1,11.3-0.5,16.7,0.8c16,4,27.3,13.4,31.4,29.9c5.9,23.6,2.6,46.8-4.8,69.5c-2.3,7.1-6.3,13.6-9.5,20.4c-3.2,6.9-9.6,11.7-12.1,19c-0.5,1.4-1.8,3.2-3.5,2.8c-1.5-0.3-1.3-2.3-1.6-3.6c-1.4-5.6-2.3-11.4-5.2-16.5c-5-9-11.3-16.4-22.8-16.3c-5.8,0-11.3,1.3-16.7,3.3c-19.9,7.4-37.5,18.4-53.3,32.6c-0.7,0.6-1.4,1.3-2.2,1.9c-0.8,0.6-1.8,1.7-2.8,1c-0.8-0.5-0.4-1.8-0.3-2.7c0.3-2.5,0.9-4.9,1-7.4c1.4-26.1,0.5-52.1-1.4-78.1c-0.2-3.3-0.8-6.6-2-9.7c-0.5-1.2-1-2.5-2.7-2.1c-1.6,0.4-1.6,1.6-1.4,2.8c0.2,1.6,0.4,3.2,0.8,4.8c0.9,3.1,1.4,6.3,1.6,9.5c2.4,28.3,2.2,56.6,0.5,84.9c-0.1,1.6-0.7,2.8-1.9,3.8c-4.3,3.8-8.4,7.7-12.6,11.5c-2.8,2.6-4.1,2.4-5.2-1.2c-1.3-4.5-2-9.2-3.5-13.7c-0.9-2.9,0.3-3.7,2.7-4c2.4-0.3,4.9-0.6,7.3-1.1c0.9-0.2,2.5-0.5,2.2-1.8c-0.3-1.1-1.6-0.6-2.6-0.5c-3,0.2-6,0.8-8.9-0.5c-2.1-0.9-3.8-0.4-5.8,0.5c-13.8,6.3-28.4,10.3-42.6,15.6c-0.7,0.3-1.5,0.2-2.2,0.3c-5.8,0.9-7.8-1.1-7-6.9c0.3-2.6,1.2-5.1,0.7-7.7c-0.5-2.4,0.3-4.3,1.4-6.4c3.6-7.2,5.7-14.8,6.5-22.8c0.3-3.6-0.6-4.4-4.2-4.4c-4,0.1-7.2,2-10.1,4.5c-15.7,13.3-27.3,29.7-36.1,48.1c-1.9,3.9-3.3,7.9-4.1,12.2c-0.8,3.9-0.1,4.6,3.9,3.9c4.5-0.7,7.8-3.5,11.1-6.2c5.6-4.8,11.1-9.9,16.6-14.8c0.7-0.7,1.7-1.8,2.8-0.8c0.9,0.9-0.2,1.8-0.8,2.5c-6.9,9.2-13.1,18.9-20.4,27.9c-1.9,2.3-4.2,3.9-7,4.9c-8.5,3-17,5.9-25.4,9.2c-14.2,5.6-28,12.2-40,21.9c-1.9,1.6-3.7,3.3-4.7,5.6c-0.4,1-1,2.3,0,2.9c0.8,0.6,1.7-0.5,2.4-1.2c5.2-5,10.8-9.5,17.1-13.2c14.3-8.5,29.6-14.7,44.9-21c1.7-0.7,3.6-1.4,5.5-0.9c0.3,0.8-0.1,1.2-0.4,1.6c-0.8,1-1.6,2-2.5,3c-10.3,10.5-21.2,20.5-32.9,29.5c-8.4,6.4-17.5,11.8-27.9,14.4C26.9,380,13,374.1,8.7,358c-4.8-18.2-3.8-36.2,0.4-54.3c7.3-31.5,21.4-60,38.8-86.9c18-27.8,41-50.9,68.6-69.2c9.4-6.3,19.5-10.3,31.2-9.1c7.4,0.8,11.5,3.7,12.2,9.5c0.2,2,0.2,4.1-0.2,6.1c-1.4,7.7-4.9,14.5-9.6,20.5c-12.6,15.9-28.7,27.3-46.8,36.2c-1.6,0.8-3.4,1.4-4.8,2.6c-0.7,0.5-1.5,1.1-1.1,2.1c0.4,1.1,1.5,1.1,2.5,0.9c3.1-0.4,6-1.8,8.7-3.2c13.1-6.9,24.9-15.6,35.8-25.7c6.3-5.8,11.6-12.4,15.4-20.1c2.9-5.9,5-12.1,4.7-18.9c-0.2-4.8-2.4-8.6-6.7-11c-4.8-2.7-9.9-3.3-15.3-3.1c-11.9,0.4-22,5.5-31.4,12.2c-23.8,17.1-45,36.8-61.6,61C25.5,242.2,8,279.4,2,321.4c-1.9,13.6-1.2,27.1,3.5,40.1c3.4,9.4,9.3,16.9,19.3,19.2c9.3,2.1,18.6,0.9,27.3-3.5c11.4-5.8,21.4-13.5,31-21.9c10.1-8.7,18.8-18.9,28.9-27.7c2-1.8,4-3.8,6.8-4.1c4.5-0.4,8.9-1.7,13.2-2.7c19.6-4.7,39.4-8.9,58.9-14.2c2-0.5,4.1-0.9,6.3-2.9c-2.5,0.3-4.4,0.3-6.1,0.7c-24,5.2-48.4,9-71.6,17.2c-0.7,0.2-1.4,0.9-2,0c-0.5-0.7-0.4-1.5-0.1-2.2c0.8-2.2,2-4.3,3.6-6.1c4.1-4.9,7.5-10.2,10.4-15.9c2-3.9,4-7.8,6-11.7c0.4-0.8,1-1.9,2.1-1.7c1.3,0.2,1.4,1.5,1.6,2.5c0.1,0.5,0,1.1,0,1.6c0.2,4.4,2.4,6.6,6.9,6.9c3.8,0.3,7.5-0.5,11-1.8c12-4.6,24-9.4,36.4-13c3.6-1,4.3-0.7,4.3,3c0,5.2,0.7,10.3,2.8,15.1c0.9,2.1,0.4,3.9-1.2,5.5c-3.9,4-7.8,8-11.6,12.1c-9.3,10-18.6,20-26.1,31.5c-2.6,4-3.8,8.3-3.8,13.1c0,7.3,2.6,10.1,9.9,10.6c8.5,0.5,16.8-0.5,25-2.4c31.9-7.5,60.7-21.6,87.8-39.8c16.2-10.8,30.4-23.9,44.4-37.4c1.2-1.2,2.4-2.3,4.1-2.8c1,3.7,0.6,7.3,0.7,10.8c0.2,7.7,1.4,15.2,5.4,22c3.8,6.5,10.6,9.4,17.9,7.9c2.9-0.6,5.6-1.6,8.1-3.2c10.6-6.7,18.8-15.7,25.4-26.2c1.1-1.8,2-3.9,1.9-6.1c0-2.5,1.1-2.4,2.7-1.6c4.6,2.2,9.4,4.2,14.4,5.5c13.4,3.3,27,4.6,40.5,0.9c5-1.4,9.5-1.7,14.2,0.9c5.4,3,11.2,3.2,16.8,0.5c14.8-7.1,25-18.7,30.4-33.9C515.5,248.6,504,231.6,485.5,229.6z M127.7,288.3c-5.6,3.9-10.4,9-15.7,13.4c-1.9,1.6-3.9,3-6,4.4c-0.8,0.5-1.8,1.2-2.6,0.5c-0.9-0.7-0.3-1.8,0-2.7c1.6-4.3,3.8-8.4,6-12.5c7.3-13.2,15.7-25.7,26.2-36.6c3.2-3.3,6.7-6.4,11.1-8.1c1.8-0.7,3-0.4,2.8,2.7c-0.7,2.3-1.7,5.3-2.5,8.5C143.9,270.2,138.4,280.7,127.7,288.3z M211.8,300c2.9-2.3,5.2-5.4,8.4-7.5c0.7-0.5,1.7-1.2,2.7-0.5c0.8,0.5,0.6,1.5,0.5,2.8c-1.6,7.9-2.2,16.4-4.2,24.7c-0.1,0.4-0.3,0.8-0.4,1.2c-0.4,1-0.6,2.3-1.8,2.4c-1.4,0.2-2-1.1-2.6-2.1c-1.9-3.5-3-7.4-4.7-10.9C207.5,305.9,208.1,302.9,211.8,300z M325.8,287.4c-15.3,15.1-31.2,29.7-49.4,41.3c-24.4,15.6-50.2,28-78.2,35.6c-7,1.9-14,3.2-22.4,3.1c-1.8-0.1-4.8,0.1-7.6-0.7c-3-0.8-4.5-2.7-4.5-5.8c0-3.5,1.2-6.7,2.8-9.8c3.5-6.8,8.1-12.9,13.1-18.7c6.4-7.6,13.2-14.7,20.4-21.6c0.3-0.3,0.6-0.6,0.9-0.9c3.7-3.2,4.6-2.9,5.7,1.9c1.1,4.8,2.8,9.2,5.7,13.2c1.4,1.9,2.9,4,5.7,3.5c2.7-0.5,3.7-2.8,4.4-5.1c2.8-9,4-18.3,4.5-27.6c0.4-7,2.7-12.1,8.6-16.5c16.2-12,32.6-23.5,51.2-31.4c7.9-3.4,16-3.9,24.3-2c2.4,0.5,4.4,1.7,5.8,3.7c6.5,8.9,10.5,18.9,12.5,29.7C330.1,282.8,328.1,285.2,325.8,287.4z M458.2,290c-0.9-0.3-1.1-0.9-1.1-1.7c0-3.2,4.4-6.6,7.5-5.9c0.9,0.2,1.7,0.5,1.6,1.6C466.2,286.2,460.2,290.6,458.2,290z')
			path.sig(d='M234.2,297.9c-0.5,0.1-1.1,0.1-1.4-0.4c-0.4-0.7,0.3-1.1,0.6-1.6c0.6-0.7,1.3-0.9,2.2-1.1  c27.7-6,55.3-12.2,82.3-20.7c1.2-0.4,2.5-0.7,3.7-1c0.8-0.2,1.6-0.1,1.9,0.8c0.3,0.8-0.2,1.4-0.9,1.9c-1.6,1.2-3.4,1.8-5.3,2.3  c-26.1,6.7-52,13.9-78.4,19.2C237.4,297.6,235.8,297.7,234.2,297.9z')
		
		symbol#icon-email(viewbox='-0.187 -0.187 512 512')
			title email
			path.email(d='M49.763,178.973c6.451,4.552,25.898,18.073,58.342,40.556c32.444,22.482,57.299,39.793,74.565,51.933c1.897,1.331,5.927,4.224,12.092,8.682c6.166,4.462,11.29,8.067,15.367,10.817c4.08,2.749,9.012,5.833,14.802,9.247c5.788,3.411,11.243,5.977,16.366,7.676c5.124,1.713,9.867,2.561,14.23,2.561h0.286h0.287c4.363,0,9.108-0.849,14.232-2.561c5.121-1.699,10.581-4.267,16.364-7.676c5.786-3.418,10.718-6.499,14.798-9.247c4.08-2.75,9.2-6.356,15.368-10.817c6.164-4.463,10.199-7.352,12.096-8.682c17.452-12.14,61.854-42.973,133.19-92.495c13.85-9.672,25.421-21.343,34.716-35.004c9.302-13.655,13.949-27.981,13.949-42.968c0-12.524-4.509-23.245-13.522-32.161c-9.012-8.919-19.686-13.375-32.015-13.375H46.347c-14.608,0-25.851,4.932-33.724,14.797C4.749,80.121,0.813,92.454,0.813,107.251c0,11.953,5.219,24.906,15.653,38.85C26.899,160.047,38.001,171.005,49.763,178.973z')
			path.email(d='M482.349,209.421c-62.225,42.117-109.475,74.848-141.725,98.188c-10.814,7.966-19.587,14.184-26.325,18.64  c-6.738,4.459-15.698,9.012-26.894,13.658c-11.192,4.653-21.623,6.973-31.301,6.973h-0.29h-0.286  c-9.676,0-20.113-2.32-31.305-6.973c-11.192-4.646-20.159-9.2-26.894-13.658c-6.734-4.456-15.51-10.674-26.323-18.64  c-25.615-18.782-72.763-51.516-141.445-98.188c-10.817-7.205-20.399-15.464-28.747-24.759v225.964  c0,12.53,4.457,23.245,13.375,32.162c8.917,8.921,19.638,13.379,32.161,13.379h418.93c12.52,0,23.241-4.459,32.158-13.379  c8.921-8.921,13.375-19.631,13.375-32.162V184.662C502.653,193.765,493.169,202.024,482.349,209.421z')

		symbol#icon-phone(viewbox='-13.393 -13.393 512 512')
			title phone
			path.phone(d='M481.98,450.729l-36.294,36.302c-6.48,6.47-25.454,10.508-26.063,10.508c-114.819,1.001-225.373-44.099-306.601-125.335\
			C31.57,290.707-13.582,179.759-12.37,64.553c0-0.052,4.155-18.483,10.63-24.895L34.552,3.36\
			C47.833-9.982,73.345-16.012,91.216-10.033l7.634,2.547c17.819,5.973,36.528,25.676,41.451,43.828l18.257,67.006\
			c4.923,18.204-1.717,44.103-14.994,57.383l-24.234,24.237c23.793,88.082,92.904,157.207,181.001,181.057l24.224-24.243\
			c13.342-13.342,39.232-19.977,57.397-15.061l66.997,18.322c18.156,4.989,37.855,23.58,43.826,41.393l2.547,7.745\
			C501.241,412.002,495.259,437.508,481.98,450.729z')
	
		symbol#icon-linkedin(viewbox='144 44 512 512')
			title linkedin
			path.linkedin(d="M206.591,45.59c33.472,0.027,61.077,27.673,61.005,61.312c-0.08,35.223-29.31,61.77-61.417,61.005      c-32.566,0.659-61.185-26.541-61.178-61.238C145,73.018,172.713,45.564,206.591,45.59z")
			path.linkedin(d="M242.152,554.338h-71.714c-9.307,0-16.852-7.545-16.852-16.852V231.55c0-9.307,7.545-16.852,16.852-16.852h71.714     c9.307,0,16.852,7.545,16.852,16.852v305.937C259.002,546.793,251.459,554.338,242.152,554.338z")
			path.linkedin(d="M655,322.156c0-64.137-51.993-116.132-116.132-116.132h-18.393c-35.09,0-66.09,17.508-84.737,44.269      c-2.033,2.917-3.916,5.946-5.645,9.073c-0.598-0.09-0.953-0.136-0.961-0.12v-37.553c0-3.863-3.132-6.996-6.996-6.996h-89.472      c-3.863,0-6.996,3.132-6.996,6.996v325.652c0,3.863,3.13,6.995,6.993,6.996l91.422,0.022c3.865,0.002,6.998-3.132,6.998-6.996      V359.229c0-32.521,25.938-59.524,58.457-59.891c16.6-0.188,31.65,6.464,42.497,17.317c10.704,10.698,17.322,25.489,17.322,41.82      v188.915c0,3.863,3.132,6.995,6.993,6.996l91.648,0.023c3.865,0.002,6.998-3.132,6.998-6.997V322.156H655z")

		symbol#icon-angel(viewbox='-55.5 24 512 512')
			title angel
			path.angel(d='M321.162,242.497c21.198,3.261,35.873,13.045,44.026,26.089c8.153,13.045,13.045,35.873,13.045,65.223\
			c0,58.701-17.936,107.618-53.809,145.121S242.895,536,187.455,536c-21.198,0-42.395-3.261-63.592-11.414\
			c-21.198-8.153-37.503-19.567-52.178-32.612c-16.305-14.675-29.35-32.612-37.503-48.917c-6.523-17.936-11.414-35.873-11.414-53.808\
			c0-19.567,4.891-35.873,13.044-47.287c8.153-11.414,22.828-17.936,40.764-22.828c-3.261-8.153-6.523-14.675-8.153-21.198\
			c-1.63-4.891-3.261-9.784-3.261-13.045c0-9.784,4.891-21.198,16.305-32.612s21.198-16.305,30.981-16.305\
			c4.891,0,8.153,0,13.045,1.63c4.891,1.63,9.784,3.261,16.305,8.153c-14.675-48.917-29.35-89.681-37.503-117.402\
			c-8.153-27.719-11.414-45.656-11.414-57.07c0-14.675,3.261-26.089,11.414-34.242C110.818,28.891,122.232,24,135.277,24\
			c21.198,0,48.917,48.917,83.159,148.382c6.523,16.305,9.784,29.35,13.044,39.134c3.261-6.523,6.522-17.936,11.414-30.981\
			c34.243-97.835,63.593-146.752,86.421-146.752c11.414,0,21.198,3.261,29.35,11.414c6.522,8.153,11.414,19.567,11.414,32.612\
			c0,9.784-3.261,29.35-11.414,57.07C348.881,162.598,337.467,198.471,321.162,242.497z M70.053,385.988\
			c3.261,3.261,8.153,9.784,13.045,17.936c14.675,21.198,29.35,32.612,42.395,32.612c4.891,0,8.153-1.63,11.414-4.891\
			c3.261-3.261,4.891-6.523,4.891-8.153c0-3.261-1.63-9.784-6.523-17.936c-4.892-8.153-11.414-17.936-19.567-27.719\
			c-9.784-11.414-17.936-21.198-22.828-26.089c-6.523-4.891-11.414-8.153-14.675-8.153c-8.153,0-16.305,4.891-22.828,13.045\
			c-6.523,8.153-9.784,19.567-9.784,30.981c0,9.784,1.63,19.567,6.523,32.612c4.891,11.414,11.414,24.459,21.198,35.873\
			c14.675,16.305,30.981,30.981,52.178,40.764c21.198,9.784,42.395,14.675,68.484,14.675c45.656,0,83.159-16.305,114.14-50.548\
			c30.981-34.242,45.656-76.637,45.656-128.816c0-16.305-1.63-27.719-3.261-37.503c-1.63-9.784-6.522-16.305-11.414-19.567\
			c-9.784-8.153-27.719-14.675-55.44-21.198c-27.719-6.523-57.07-9.784-86.42-9.784c-8.153,0-14.675,1.63-17.936,4.891\
			c-3.261,3.261-4.891,8.153-4.891,14.675c0,16.305,8.153,27.719,26.089,34.242s47.287,11.414,86.42,11.414h14.675\
			c3.261,0,6.522,1.63,8.153,3.261c1.63,3.261,3.261,6.523,3.261,11.414c-3.261,3.261-11.414,8.153-24.459,13.044\
			c-13.045,4.891-21.198,9.784-27.719,14.675c-14.675,9.784-26.089,22.828-34.242,37.503c-8.153,14.675-13.045,27.719-13.045,40.764\
			c0,8.153,1.63,16.305,4.891,27.719c3.261,11.414,4.891,17.936,4.891,19.567v3.261v3.261c-9.784,0-17.936-6.522-24.459-17.936\
			c-6.523-11.414-8.153-26.089-8.153-45.656v-3.261c-1.63,1.63-3.261,3.261-4.891,3.261c-1.63,0-3.261,1.63-6.523,1.63\
			c-1.63,0-4.891,0-6.523,0c-1.631,0-3.261-1.63-6.523-1.63c0,3.261,1.63,4.891,1.63,8.153c0,3.261,0,4.891,0,6.523\
			c0,8.153-3.261,16.305-9.784,22.828c-6.523,6.523-14.675,9.784-24.459,9.784c-14.675,0-29.35-6.523-45.656-21.198\
			c-14.675-14.675-22.828-27.719-22.828-42.395c0-3.261,0-4.891,1.63-6.523C66.792,389.248,68.423,387.618,70.053,385.988z\
			M176.041,394.14c3.261,0,8.153-1.63,11.414-4.891c3.261-3.261,4.891-8.153,4.891-11.414c0-4.891-3.261-14.675-9.784-30.981\
			s-14.675-32.612-24.459-47.287c-6.523-11.414-14.675-21.198-21.198-26.089c-6.523-6.522-13.045-8.153-19.567-8.153\
			c-4.891,0-9.784,3.261-16.305,9.784s-8.153,11.414-8.153,17.936c0,4.891,3.261,14.675,8.153,26.089\
			c6.523,11.414,13.045,22.828,22.828,35.873c9.784,13.044,19.567,24.459,29.35,32.612\
			C162.996,390.879,169.519,394.14,176.041,394.14z M210.283,224.56l-39.134-109.248c-9.784-27.719-16.305-47.287-22.828-55.44\
			c-4.891-8.153-9.784-13.045-16.305-13.045c-4.891,0-8.153,1.63-11.414,4.891c-4.891,4.891-6.523,9.784-6.523,16.305\
			c0,11.414,4.891,29.35,13.045,55.44s21.198,61.962,37.503,104.357c1.63-3.261,3.261-4.891,6.523-4.891\
			c3.261-1.63,6.523-1.63,9.784-1.63c1.63,0,4.891,0,8.153,0C193.977,222.93,200.499,222.93,210.283,224.56z M249.416,330.548\
			c-9.784,0-19.567-1.63-29.35-3.261c-9.784-1.631-17.936-3.261-26.089-6.523c3.261,8.153,6.523,14.675,9.784,22.828\
			s4.891,14.675,6.523,22.828c4.891-6.522,11.414-13.044,17.936-19.567C236.372,340.331,242.895,335.44,249.416,330.548z\
			M296.703,235.974c16.305-42.395,27.719-78.267,37.503-105.988c8.153-27.719,13.045-44.026,13.045-50.548\
			s-1.63-11.414-4.891-16.305c-3.261-3.261-6.522-4.891-11.414-4.891c-6.522,0-13.045,4.891-19.567,16.305\
			c-6.522,11.414-14.675,27.719-22.828,52.178l-35.874,101.096L296.703,235.974z')
		
		symbol#icon-youtube(viewbox='144 44 512 512')
			title youtube
			path.youtube(d="M634.24,157.92c-13.888-24.704-28.96-29.248-59.648-30.976C543.936,124.864,466.848,124,400.064,124      c-66.912,0-144.032,0.864-174.656,2.912c-30.624,1.76-45.728,6.272-59.744,31.008C151.36,182.592,144,225.088,144,299.904      c0,0.064,0,0.096,0,0.096c0,0.064,0,0.096,0,0.096v0.064c0,74.496,7.36,117.312,21.664,141.728      c14.016,24.704,29.088,29.184,59.712,31.264C256.032,474.944,333.152,476,400.064,476c66.784,0,143.872-1.056,174.56-2.816      c30.688-2.08,45.76-6.56,59.648-31.264C648.704,417.504,656,374.688,656,300.192c0,0,0-0.096,0-0.16c0,0,0-0.064,0-0.096      C656,225.088,648.704,182.592,634.24,157.92z M336,396V204l160,96L336,396z")

		symbol#icon-google(viewbox='0 0 512 512')
			title google +
			path.google(d="M247.7,453.5c24.9-20.3,37.4-43.9,37.4-70.7c0-21.2-3.7-38.6-11.1-52c-7.4-13.4-20.3-27-38.8-40.9      c-24.9-17.5-37.4-31.9-37.4-43c0-8.3,1.8-15,5.5-20.1c3.7-5.1,11.1-12.2,22.2-21.5c26.8-20.3,40.2-44.8,40.2-73.5      c0-18.5-4.2-35.3-12.5-50.6c-8.3-15.2-19.4-25.6-33.3-31.2h44.3L296.2,28H154.8c-32.4,0-61,10.4-85.9,31.2      C44,80,31.5,104.2,31.5,132c0,28.6,10.2,52.9,30.5,72.8c20.3,19.9,46.2,29.8,77.6,29.8c4.6,0,8.8-0.5,12.5-1.4      c-4.6,9.2-6.9,18-6.9,26.3c0,13.9,6.5,27.3,19.4,40.2c-2.8,0-6.7,0-11.8,0c-5.1,0-9.5,0-13.2,0c-37.9,0-70.5,10.4-97.7,31.2      C14.6,351.6,1,375,1,400.8c0,24.9,14.1,45,42.3,60.3c28.2,15.2,62.6,22.9,103.2,22.9C189,484,222.7,473.8,247.7,453.5z M202,326      c5.5,3.7,9.5,6.5,11.8,8.3c2.3,1.9,5.3,4.2,9,6.9c3.7,2.8,6.5,5.1,8.3,6.9c1.8,1.9,4.2,4.4,6.9,7.6c2.8,3.2,4.9,6.2,6.2,9      c1.4,2.8,2.1,5.5,2.1,8.3c1.8,5.5,2.8,10.6,2.8,15.2c0,49-34.6,73.5-103.9,73.5c-26.8,0-49-7.4-66.5-22.2      c-17.6-14.8-26.3-32.8-26.3-54c0-19.4,10.4-36.5,31.2-51.3c20.8-14.8,44.6-22.2,71.4-22.2c12,0,24,1.9,36,5.5      C192.7,319.5,196.4,322.3,202,326z M159.7,220c-18-0.5-34.6-9.5-49.9-27c-15.2-17.5-24.5-38.1-27.7-61.7      c-3.2-23.6,0.5-43.4,11.1-59.6c10.6-16.2,25.2-24,43.7-23.6c18.5,0.5,35.3,9,50.6,25.6c15.2,16.6,24.3,37,27,61      c2.8,24-1.2,44.3-11.8,61C192,212.3,177.7,220.4,159.7,220z M511,156.9h-88.7V68.2H378v88.7h-88.7v45.7H378V290h44.3v-87.3H511      V156.9z")

		symbol#icon-twitter(viewbox='0 0 512 512')
			title twitter
			path.twitter(d='M510,256c0,70.1-24.8,130-74.4,179.6S326.1,510,256,510s-130-24.8-179.6-74.4S2,326.1,2,256      S26.8,126,76.4,76.4S185.9,2,256,2s130,24.8,179.6,74.4S510,185.9,510,256z M413.8,166.7c-11.9,5.3-23.8,8.6-35.7,9.9      c13.2-7.9,22.2-19.5,26.8-34.7c-11.9,7.3-25.1,12.2-39.7,14.9c-11.9-13.2-27.1-19.8-45.6-19.8c-17.2,0-31.9,6.1-44.2,18.4      s-18.4,27-18.4,44.2c0,5.3,0.7,10.3,2,14.9c-52.9-2.6-95.9-24.5-129-65.5c-6,9.9-8.9,20.5-8.9,31.8c0,21.8,9.6,39,28.8,51.6      c-10.6,0-20.2-2.6-28.8-7.9v1c0,15.2,4.8,28.4,14.4,39.7c9.6,11.2,21.7,18.5,36.2,21.8c-6,1.3-11.6,2-16.9,2c-4,0-7.9-0.3-11.9-1      c4,12.6,11.2,22.8,21.8,30.8s22.8,12.2,36.7,12.9c-23.2,17.9-48.9,26.8-77.4,26.8c-5.3,0-10.3-0.3-14.9-1      c29.1,18.5,60.9,27.8,95.2,27.8c54.2,0,97.6-18.4,130-55.1S383,252.4,383,207.4c0-2.6-0.3-5.3-1-7.9      C394.6,190.2,405.2,179.3,413.8,166.7z')
	
		symbol#icon-instagram(viewbox='0 0 512 512')
			title instagram
			path.instagram(d='M305,256c0,27.1-21.9,49-49,49s-49-21.9-49-49s21.9-49,49-49S305,228.9,305,256z')
			path.instagram(d='M370.6,169.3c-2.4-6.4-6.1-12.2-11-16.9c-4.7-4.9-10.5-8.6-16.9-11c-5.2-2-13-4.4-27.3-5.1    c-15.5-0.7-20.2-0.9-59.4-0.9c-39.3,0-43.9,0.1-59.4,0.9c-14.3,0.7-22.1,3.1-27.3,5.1c-6.4,2.4-12.2,6.1-16.9,11    c-4.9,4.7-8.6,10.5-11,16.9c-2,5.2-4.4,13-5.1,27.3c-0.7,15.5-0.9,20.1-0.9,59.4c0,39.2,0.2,43.9,0.9,59.4c0.7,14.3,3,22.1,5.1,27.3    c2.4,6.4,6.1,12.2,11,16.9c4.7,4.9,10.5,8.6,16.9,11c5.2,2,13,4.4,27.3,5.1c15.5,0.7,20.1,0.9,59.4,0.9c39.3,0,43.9-0.1,59.4-0.9    c14.3-0.7,22.1-3,27.3-5.1c12.8-4.9,23-15.1,27.9-27.9c2-5.2,4.4-13,5.1-27.3c0.7-15.5,0.9-20.2,0.9-59.4c0-39.3-0.1-43.9-0.9-59.4    C375,182.3,372.6,174.5,370.6,169.3z M256,331.5c-41.7,0-75.5-33.8-75.5-75.5s33.8-75.5,75.5-75.5c41.7,0,75.5,33.8,75.5,75.5    S297.7,331.5,256,331.5z M334.5,195.2c-9.7,0-17.6-7.9-17.6-17.6s7.9-17.6,17.6-17.6s17.6,7.9,17.6,17.6    C352.1,187.3,344.2,195.2,334.5,195.2z')
			path.instagram(d='M256,0C114.6,0,0,114.6,0,256s114.6,256,256,256s256-114.6,256-256S397.4,0,256,0z M402.1,316.6    c-0.7,15.6-3.2,26.3-6.8,35.7c-7.6,19.7-23.2,35.4-43,43c-9.3,3.6-20,6.1-35.7,6.8c-15.7,0.7-20.7,0.9-60.6,0.9    c-39.9,0-44.9-0.2-60.6-0.9c-15.6-0.7-26.3-3.2-35.7-6.8c-9.8-3.7-18.7-9.5-26-17c-7.5-7.3-13.3-16.2-17-26    c-3.6-9.3-6.1-20-6.8-35.7c-0.7-15.7-0.9-20.7-0.9-60.6s0.2-44.9,0.9-60.6c0.7-15.6,3.2-26.3,6.8-35.7c3.7-9.8,9.5-18.7,17-26    c7.3-7.5,16.2-13.3,26-17c9.4-3.6,20-6.1,35.7-6.8c15.7-0.7,20.7-0.9,60.6-0.9s44.9,0.2,60.6,0.9c15.6,0.7,26.3,3.2,35.7,6.8    c9.8,3.7,18.7,9.5,26,17c7.5,7.3,13.3,16.2,17,26c3.6,9.4,6.1,20,6.8,35.7c0.7,15.7,0.9,20.7,0.9,60.6S402.8,300.9,402.1,316.6z')

		symbol#icon-facebook(viewbox='0 0 512 512')
			title facebook
			path.facebook(d='M511,255c0,70.4-24.9,130.5-74.7,180.3S326.4,510,256,510s-130.5-24.9-180.3-74.7S1,325.4,1,255  S25.9,124.5,75.7,74.7S185.6,0,256,0s130.5,24.9,180.3,74.7S511,184.6,511,255z M327.7,202.2h-47.8v-25.9c0-8,1.2-13.6,3.5-16.9  s8.1-5,17.4-5h25.9v-52.8h-41.8c-23.9,0-40.2,5.8-48.8,17.4s-12.9,29.1-12.9,52.3v30.9h-38.8V255h38.8v153.4H280V255h41.8  L327.7,202.2z')
	
		symbol#icon-arrowGo(viewbox='0 0 512 512')
			title Arrow Go
			path.arrowGo(d='M339.3,256c0-4.9-1.7-8.7-5.2-11.5L225.8,136.2c-7.6-7.6-15.5-7.6-23.4,0c-8,7.6-7.8,15.3,0.5,22.9l95.8,96.9\
			l-95.8,96.9c-8.3,7.7-8.5,15.3-0.5,22.9c8,7.7,15.8,7.7,23.4,0l108.3-108.3C337.6,264.7,339.3,260.9,339.3,256z')

	div.navDots
		a.navDots__dots(href="#home")
			p.navDots__name Home
			div.navDots__dot
		a.navDots__dots(href="#about")
			p.navDots__name About
			div.navDots__dot
		a.navDots__dots(href="#summary")
			p.navDots__name Summary
			div.navDots__dot
		a.navDots__dots(href="#experience")
			p.navDots__name Experience
			div.navDots__dot
		a.navDots__dots(href="#education")
			p.navDots__name Education
			div.navDots__dot
		a.navDots__dots(href="#projects")
			p.navDots__name Projects
			div.navDots__dot
		a.navDots__dots(href="#recomendations")
			p.navDots__name Recomendations
			div.navDots__dot

	section.home#home
		
		div.home__infoChris
			h1.home__nameChris Chris Dortch

			div.home__networksChris
				a.home__link(href="mailto:chrisdortch@gmail.com")
					svg.home__svg
						use(xlink:href="#icon-email")

				a.home__link(href="tel:8013627229")
					svg.home__svg
						use(xlink:href="#icon-phone")

				a.home__link(href="https://www.linkedin.com/in/chrisdortch/")
					svg.home__svg
						use(xlink:href="#icon-linkedin")

				a.home__link(href="https://angel.co/chrisdortch")
					svg.home__svg
						use(xlink:href="#icon-angel")

				a.home__link(href="https://www.youtube.com/c/ChrisDortch")
					svg.home__svg
						use(xlink:href="#icon-youtube")

				a.home__link(href="")
					svg.home__svg
						use(xlink:href="#icon-google")
				a.home__link(href="https://twitter.com/christophdortch")
					svg.home__svg
						use(xlink:href="#icon-twitter")
				//div
					a(href="mailto:chrisdortch@gmail.com")
						svg
							use(xlink:href="#mail" alt="chrisdortch@gmail.com") 
						p.home__networksChris--text chrisdortch@gmail.com

					a(href="tel:8013627229")
						svg
							use(xlink:href="#name" alt="(801) 362-7229") 
						p.home__networksChris--text (801) 362-7229

					a(href="https://www.linkedin.com/in/chrisdortch/" target="_blank") 
						svg
							use(xlink:href="#linkedin" alt="linkedin")

					a(href="https://angel.co/chrisdortch" target="blank")
						svg
							use(xlink:href="#angel" alt="angel")

					a(href="https://www.youtube.com/c/ChrisDortch" target="_blank")
						svg
							use(xlink:href="#youtube" alt="youtube")

					a(href="#" target="_blank")
						svg
							use(xlink:href="#instagram" alt="instagram")

					a(href="https://twitter.com/christophdortch" target="_blank")
						svg
							use(xlink:href="#twitter" alt="twitter")
		
		div.home__slider
			div.home__slider1
			div.home__slider2
	section.about#about
		div.about__title
			h6 
				em RE: 
			h3 Important notice and offer to collaborate
			p To Whom It May Concern:
		
		div.about__text
			p.about__text--text My name is Chris Dortch. I am Co-founder, Stockholder, Director, and President of Global Archive Holdings, Inc., which is the parent company to Global Archive, Inc. and owner of various innovative media technologies and brands. Here are just three of the company’s websites:
			
			div.about__textPlatform
				svg.about__textPlatform--svg
					use(xlink:href="#icon-motionloops")
				a.about__textPlatform--link(href="http:///www.motionloops.com/" target="_blank") Motion Loops.com

				p.about__textPlatform--linkText A marketplace for DJ’s, where looping video animations can be downloaded, and where users can purchase hard drives filled with digital content for their live performances.
			
			div.about__textPlatform
				svg.about__textPlatform--svg
					use(xlink:href="#icon-globalArchive")
				a.about__textPlatform--link(href="https://www.globalarchive.com/" target="_blank") Global Archive.com

				p.about__textPlatform--linkText A marketplace for film-makers, marketing companies, ad agencies, and social media enthusiasts where users can purchase award-winning digital media.
			
			div.about__textPlatform
				svg.about__textPlatform--svg
					use(xlink:href="#icon-motionloops")
				a.about__textPlatform--link(href="http:///www.motionlogos.com/" target="_blank") Motion Logos.com

				p.about__textPlatform--linkText An innovative tool that converts standard logos uploaded by a user, into 3D logo animations.

			p.about__text--text The Pasadena California based media company recently completed a reorganization/merger with its technology counterpart in Austin Texas, and while I am currently involved in the day-to-day operations of the company, I am an entrepreneur who is always looking for new projects. I would love to discuss any ideas you may have for my company or me.
			p.about__text--text I am available to talk most days between 9 am and 10 pm CDT with 24-hour notice and can be reached almost anytime via text (801-362-7229) or Skype (chrisdortch). Please contact me at your earliest convenience regarding this or any other ideas you may have. Thanks for your consideration. I look forward to hearing from you soon.
			p.about__text--text Sincerely
			div.about__icons
				svg.about__iconSVG
					use(xlink:href="#icon-sig")
				img.about__image.imagen-fluida(src="img/seal.webp")
		
			h5.about__signature Chris Dortch

	section.summary#summary
		//h6.title__section Executive Summary | Chris Dortch

		div.summary__connections
			h1 15 +
			h5 CONNECTIONS
			svg.summary__connections--svg
				use(xlink:href="#icon-linkedin")
		
		div.summary__text
			h6.title__section Executive Summary | Chris Dortch

			p Dortch is former CEO of StockFootage.com and Creative Media Group. As President of Global Archive, Inc., Dortch negotiated contracts, and aggregated all kinds of media content from the Western Hemisphere to distribute it in the Eastern Hemisphere through a mutually exclusive partnership with the largest media conglomerate in China, SHANGHAI MEDIA GROUP.

			p Dortch is an award-winning Cinematographer, After Effects artist, and a successful entrepreneur. His work has earned 60 Telly Awards and the Adobe Design Achievement Award. His Cinematography received special recognition by the National Geographic Society and his motion graphic design work with Donny & Marie Osmond received worldwide attention, and awards from TV Land, Daytime Emmy, BPI, as well as the DVD Premiere Award.

			h4 Dortch has produced dozens of brands, hundreds of websites, thousands of videos, and channels receiving billions of views.	

		div.summary__telly
			img.imagen-fluida(src="img/telly.webp")
			h4 WINNER 60 TIMES

		div.summary__bachelor
			img.imagen-fluida(src="img/bachelor__uvu.webp")

		div.summary__networks
			a.summary__link(href="")
				svg.summary__svg
					use(xlink:href="#icon-email")

			a.summary__link(href="")
				svg.summary__svg
					use(xlink:href="#icon-phone")

			a.summary__link(href="")
				svg.summary__svg
					use(xlink:href="#icon-linkedin")

			a.summary__link(href="")
				svg.summary__svg
					use(xlink:href="#icon-angel")

			a.summary__link(href="")
				svg.summary__svg
					use(xlink:href="#icon-youtube")

			a.summary__link(href="")
				svg.summary__svg
					use(xlink:href="#icon-google")
			a.summary__link(href="")
				svg.summary__svg
					use(xlink:href="#icon-twitter")

	section.experience#experience
		h6.title__section Professional Experience

		div.experience__module
			h5.experience__title President at Global Archive, Inc.
			p.experience__time November 2014 - Present
			div.experience__more#experienceLearnMore
				p Learn more
				svg.experience__SVG
					use#experienceSVG(xlink:href="#icon-arrowGo")
			div.experience__text#experienceText
			
				p Dortch founded Global Archive, Inc. in November 2014, which was later reorganized into a Delaware C-corporation prior to several rounds of venture capital funding and eventually reorganized on February 10th, 2018.
				
				p Built a library of over 50 million digital assets and one of the most comprehensive distribution networks in the world. Global Archive is a Delaware C-corporation with offices in California, Texas, and Hawaii. It aggregates iPTV, VOD, and the media licensing rights for all kinds of digital media files including films, shows, news clips, stock footage, images, music, sound effects, and other digital media files. So far the business has the rights to distribute over 50 million assets from some of the biggest names in the industry, including: 
				a(href="#") Artbeats.com
				| , 
				a(href="#") AAFLO.com
				| , 
				a(href="#") A5AlarmMusic.com
				| , 
				a(href="#") ADepositPhotos.com
				| , 
				a(href="#") ANatureFootage.com
				| , 
				a(href="#") ASound-Ideas.com
				| ,
				| and many others. Through its mutually exclusive partnership with WingsMedia of Shanghai Media Group, Global Archive is a major contender for China’s lucrative online video market.

				p Global Archive is a technology company that owns and operates all of the following brands, websites, and technologies:
				a(href="#") MotionLoops.com
				| , 
				a(href="#") X3
				|  
				|, SV1 RocketVideo, 
				a(href="#") GlobalArchive.com
				| ,
				a(href="#") Beatflo.net
				| , 
				a(href="#") EditorLoops.net
				| , 
				a(href="#") Sequential Downloader
				| , VidJam, 
				a(href="#") ReligiousLoops.com
				| , 
				a(href="#") TimelapseLoops.com
				| , 
				a(href="#") VisualDvds.com
				| , 
				a(href="#") MotionLogos.com
				| ,

		div.experience__module
			h5.experience__title Director at Inspiration Film Hong Kong Ltd.
			p.experience__time July 2013 - Present
			div.experience__more#experienceLearnMore
				p Learn more
				svg.experience__SVG
					use#experienceSVG(xlink:href="#icon-arrowGo")
			div.experience__text#experienceText
				p Dortch cofounded the Hong Kong company with billionaire entrepreneur Bruno Wu (forbes.com/profile/bruno-wu).

		div.experience__module
			h5.experience__title Chief Executive Officer at Stock Footage
			p.experience__time June 2012 - April 2015
			div.experience__more#experienceLearnMore
				p Learn more
				svg.experience__SVG
					use#experienceSVG(xlink:href="#icon-arrowGo")
			div.experience__text#experienceText
				p Recruited and trained roles of leadership, management, and an international workforce to direct reports and supply media to Getty Images, Shutterstock, iStockphoto, Corbis, and 37 other distributors. Managed over 400 websites, launched 25,000 Youtube videos, created and maintained a massive database of information. Sold shares for certain contractual rights related to China.

				p In an interview conducted by the Daily Herald, Dortch spoke of digital media and its role in the Chinese government: 
				span.commentary “For me there is a deeper mission,” Dortch said. “We will be contributing to positive media to build a better society”
				a(href="#") (heraldextra.com/news/local/central/orem/orem-s-cmg-partners-withchinese-multimedia-group/article_cdcff92d-9876-5042-9c58-143f299b2ae7. html).

				p Adobe called the digital imagery created by Dortch and former partner John Farr, 
				span “amazing, stunning work” 
				| that cause#experienceSVGd 
				span.commentary “Goosebumps in the audience!”
				a(href="#") (spark.adobe.com/page/PhCchABGO2URV/)
				| During an international television broadcast conducted by SMG, He Jian said, 
				span.commentary “video production and distribution market in China was worth nearly 10 billion Yuan”
				| and Dortch’s content was described as 
				span.commentary “amazing”
				| . Dortch said, we 
				span.commentary “have shots all over the world, from some of the highest peaks of Everest, to some of the lowest places on Earth”
				a(href="#") (youtube.com/watch?v=8g4f4shw5Dk)
				| .

				p Dortch’s company was described in a special article featured in Markee Magazine: 
				span.commentary “It’s easy to see why the company’s artsy collection is noteworthy, as Dortch points out that the company’s cinematographers have acquired content ‘in hundreds’ of national parks, in addition to a more recent and more daunting task: spending several weeks with the U.S. military shooting high-speed footage of C4 explosions, machine guns, operating shots from Chinooks, Black Hawk helicopters and many other military vehicles” 
				a(href="#") (markeemagazine.com/wp/stock-footage-house#experienceSVGs/)
				| .

		div.experience__module
			h5.experience__title Chief Executive Officer at Creative Media Group
			p.experience__time May 2010 - April 2015
			div.experience__more#experienceLearnMore
				p Learn more
				svg.experience__SVG
					use#experienceSVG(xlink:href="#icon-arrowGo")
			div.experience__text#experienceText
				p Produced digital media for Donny & Marie Osmond, LG Electronics, BBC, US Special Forces, Adobe, Domo, Franklin Covey, and traveled the world producing digital media in some of the most interesting places on earth, including: Israel, Africa, Italy, London, Everest, Rio, and others. Sold the company in 2015.

		div.experience__module
			h5.experience__title President of High Quality Media, Inc.
			p.experience__time Jul 2005 – Apr 2015
			div.experience__more#experienceLearnMore
				p Learn more
				svg.experience__SVG
					use#experienceSVG(xlink:href="#icon-arrowGo")
			div.experience__text#experienceText
				p Cofounded an LLC with an angel investment from a 3rd-party, reorganized company into C-Corporation, established strategic partnership with a competitor, then sold the company after winning dozens of awards for motion graphics, and video productions. 

		div.experience__module
			h5.experience__title Founder and Editor-in-chief of Saratogan, LLC.
			p.experience__time Jul 2003 – Jul 2005
			div.experience__more#experienceLearnMore
				p Learn more
				svg.experience__SVG
					use#experienceSVG(xlink:href="#icon-arrowGo")
			div.experience__text#experienceText
				p Founded an LLC and started three publications, organized bi-weekly distribution to over 1,500 homes, managed advertising, and worked as Editor-In-Chief overseeing all operations of each publication before selling the publications to a competitor.

		div.experience__module
			h5.experience__title Freelance Media Professional
			p.experience__time June 2002 – June 2003
			div.experience__more#experienceLearnMore
				p Learn more
				svg.experience__SVG
					use#experienceSVG(xlink:href="#icon-arrowGo")
			div.experience__text#experienceText
				p Provided services of Graphic design, technical writing, and photo journalism.

		div.experience__module
			h5.experience__title Volunteer Service in South Africa
			p.experience__time April 2000– May 2002
			div.experience__more#experienceLearnMore
				p Learn more
				svg.experience__SVG
					use#experienceSVG(xlink:href="#icon-arrowGo")
			div.experience__text#experienceText
				p Worked as Assistant to the President overseeing a mission of over 200 service volunteers from all over the world.

		div.experience__module
			h5.experience__title Advisor of Public Benefit Company
			p.experience__time August 2017– Present
			div.experience__more#experienceLearnMore
				p Learn more
				svg.experience__SVG
					use#experienceSVG(xlink:href="#icon-arrowGo")
			div.experience__text#experienceText
				p Dortch is Advisor of a Delaware Public Benefit Corporation that organizes groups of volunteers to remove plastic from the worlds ocean and beaches, by hosting beach clean-ups, using media to educate, and building public awareness
		
		div.experience__line

		div.experience__dots-1
			div.dot
		div.experience__dots-2
			div.dot
		div.experience__dots-3
			div.dot
		div.experience__dots-4
			div.dot
		div.experience__dots-5
			div.dot
		div.experience__dots-6
			div.dot
		div.experience__dots-7
			div.dot
		div.experience__dots-8
			div.dot
		div.experience__dots-9
			div.dot

	section.education#education
		h6.title__section Education

		div.education__module
				div.education__image
					img.imagen-fluida(src="img/uvu.webp")
				h6.education__title Bachelor’s Degree in Digital Communication and Multimedia
				p.education__time 1999 - 2007
				div.education__text
					p Art and Visual Communications Departmental Scholarship.
					p Communications Department Scholarship.
		
		div.education__module
				div.education__image
					img.imagen-fluida(src="img/padi.webp")
				h6.education__title Open Water PADI Scuba Diver
				p.education__time 2016
				div.education__text
					p Certified with advanced underwater camera training.

		div.education__module
				div.education__image
					img.imagen-fluida(src="img/pfi.webp")
				h6.education__title Performance Freediving International
				p.education__time 2017
				div.education__text
					p Certified to an 80 foot underwater depth and 4+ minute breath hold.

		div.education__module
				div.education__image
					img.imagen-fluida(src="img/dan.webp")
				h6.education__title Member of DAN Safety Association
				p.education__time 2017
				div.education__text
					p Active member.

		div.education__module
				div.education__image
					img.imagen-fluida(src="img/scout.webp")
				h6.education__title Eagle Scout in Boy Scouts of America
				p.education__time 1994
				div.education__text
					p Eagle Scout and volunteer leader.
				
	section.projects#projects
		h6.title__section Projects

		a.projects__module.project--1
			p.projects__subTitle Project
			h6.projects__title Established exclusive partnership with Shanghai Media Group
			p.projects__time Nov 2014 – Present
			div.projects__more 
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--2
			p.projects__subTitle Project
			h6.projects__title Founded and Exited StockFootage.com
			p.projects__time Jun 2012 – Apr 2015
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--3
			p.projects__subTitle Project
			h6.projects__title Helped create the viral “Will It Blend” video series with over 285,786,308+ views
			p.projects__time Nov 2012 – Apr 2014
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--4
			p.projects__subTitle Project
			h6.projects__title Produced and Directed project with LG Electronics and billionaire Bruno Wu for 2016 Summer Olympic Games in Rio
			p.projects__time Dec 2013 – Apr 2014
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--5
			p.projects__subTitle Project
			h6.projects__title Spent 50 days in Israel shooting Ultra HD scenes for an award-winning BBC documentary
			p.projects__time Jul 2013 – Aug 2013
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--6
			p.projects__subTitle Project
			h6.projects__title Created an episode of “Leno’s Garage” with Jay Leno featuring VIA VTRUX and Bob Lutz (father of the Viper)
			p.projects__time Jun 2012 – Jul 2012
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--7
			p.projects__subTitle Project
			h6.projects__title Used state-of-the-art equipment to capture imagery of an elite fighting force within the United States Special Forces
			p.projects__time Jan 2012 – Apr 2012
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--8
			p.projects__subTitle Project
			h6.projects__title Cinematographer for film featuring IMAGINE DRAGONS
			p.projects__time Sep 2011 – Oct 2011
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--9
			p.projects__subTitle Project
			h6.projects__title Time-lapse work with Tom Lowe on Award Winning Ultra HD Documentary, entitled: Timesapes
			p.projects__time Aug 2010 – Oct 2010
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--10
			p.projects__subTitle Project
			h6.projects__title Producing, Editing, and Motion Design for a Michael McLean Music Video and Deseret Book
			p.projects__time Aug 2010 – Aug 2010
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--11
			p.projects__subTitle Project
			h6.projects__title Coproduced DONNY & MARIE OSMOND TV Commercial
			p.projects__time Jun 2009 – Jun 2009
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--12
			p.projects__subTitle Project
			h6.projects__title Motion Graphic Design and Editing for OSMOND 50th, 2009 World Tour, and PBS Documentary
			p.projects__time Jun 2008
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--13
			p.projects__subTitle Project
			h6.projects__title Project with DAVID ARCHULETA
			p.projects__time 2009
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--14
			p.projects__subTitle Project
			h6.projects__title Created Visuals for the award-winning Las Vegas show with DONNY & MARIE OSMOND
			p.projects__time Jan 2008 – Jul 2008
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")
			
		a.projects__module.project--15
			p.projects__subTitle Project
			h6.projects__title Edited graphics and shot footage for nationally televised live performance on stage with 21,000 people
			p.projects__time Jan 2008
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--16
			p.projects__subTitle Project
			h6.projects__title Created Project Winning Adobe Design Achievement Award
			p.projects__time Jul 2007
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")

		a.projects__module.project--17
			p.projects__subTitle Project
			h6.projects__title Formed a business and multiple newspaper publications, then sold the business
			p.projects__time July 2003
			div.projects__more
				p learn more
				svg
					use(xlink:href="#icon-arrowGo")
			
	section.recomendations#recomendations
		h6.title__section Recomendations

		div.recomendations__container
			div.recomendations__module
				p.recomendations__text “Not only is Chris Dortch a talented and creative guy, he’s a terrific collaborator. He’s able to think “out of the box” and suggest possibilities that can expand visions and often save money. I’m a fan. Michael McLean”
				div.recomendations__person
					div.recomendations__image
						img.imagen-fluida(src="img/michaelmcLean.webp")
					h6.recomendations__name Michael McLean
					p.recomendations__subtitle Owner, Michael McLean Music

			div.recomendations__module
				p.recomendations__text During an internationally televised broadcast, Shanghai Media Group (“SMG”) said, “video production and distribution market in China was worth nearly 10 billion Yuan” and Dortch’s content was described by SMG as being “amazing.” Dortch said, we “have shots all over the world, from some of the highest peaks of Everest, to some of the lowest places on Earth”
				div.recomendations__person
					div.recomendations__image
						//img.imagen-fluida(src="img/a.webp")
					h6.recomendations__name Shanghai Media Group
					p.recomendations__subtitle Internationally Televised Broadcast

			div.recomendations__module
				p.recomendations__text “I have known Chris Dortch for almost 15 years now. He is an impressive young man. He is hard working, determined, focused, and effective. He is successful at everything he does. Juxtaposed to his amazing business achievements, Chris is a successful father and has raised a beautiful family. He is a loving husband. He has a great sense of humor. He is kind and thoughtful. And, he is one of the funnest guys you will ever hang out with. Chris is a person who has integrity the likes of which I haven’t seen before. I would trust him with my life. I give Chris my highest recommendation.”
				div.recomendations__person
					div.recomendations__image
						img.imagen-fluida(src="img/danoaks.webp")
					h6.recomendations__name Dan Oaks
					p.recomendations__subtitle Owner, DVO Enterprises

			div.recomendations__module
				p.recomendations__text Chris is an outstanding media professional and manager....I have worked closely with him on some very tough projects....crazy schedules, moving design requirements, picky customers--And he always nails it. One of the best I have ever seen!
				div.recomendations__person
					div.recomendations__image
						img.imagen-fluida(src="img/thomasmcfarland.webp")
					h6.recomendations__name Thomas McFarland Jr.
					p.recomendations__subtitle Research and Development Manager

			div.recomendations__module
				p.recomendations__text “Chris has a number of strengths to offer the digital media world as is evident by his list of achievements. Chris is always interested in supporting others. For example, in the years he was at UVU and we worked on our class projects Chris was helpful with ideas for others in showing them how he did what he did. His personal productions were always top of the class. I would highly recommend Chris for his performance, capability, and helpful working relationship. Chris will be a encouraging addition to any venue or organization.”
				div.recomendations__person
					div.recomendations__image
						//img.imagen-fluida(src="img/chaseymitchell.webp")
					h6.recomendations__name Chasey D Mitchell Jr
					p.recomendations__subtitle Director of Technology

			div.recomendations__module
				p.recomendations__text “Chris is extremely easy to work with. We worked on several technical projects, where Chris would have a vision of what he wanted to accomplish, and we would work together to hash out the details of the implementation. Often he would come with a thought-out plan, but was also open to other ways of accomplishing the task. He would make himself available to test prototypes and provide feedback. If you have the chance to work with him, you will find him to be an honest, capable partner.”
				div.recomendations__person
					div.recomendations__image
						img.imagen-fluida(src="img/jonbosley.webp")
					h6.recomendations__name Jon Bosley
					p.recomendations__subtitle Firmware Engineer

			div.recomendations__module
				p.recomendations__text Markee Magazine described Dortch’s company: “It’s easy to see why the company’s artsy collection is noteworthy, as Dortch points out that the company’s cinematographers have acquired content ‘in hundreds’ of national parks, in addition to a more recent and more daunting task: spending ‘several weeks with the U.S. military shooting high-speed footage of C4 explosions, machine guns, operating shots from Chinooks, Black Hawk helicopters and many other military vehicles,’ Dortch said
				div.recomendations__person
					div.recomendations__image
						//img.imagen-fluida(src="img/uvu.webp")
					h6.recomendations__name Markee Magazine
					p.recomendations__subtitle Magazine

			div.recomendations__module
				p.recomendations__text During an interview conducted by the Daily Herald, Dortch spoke of digital media and its role in the Chinese government: “For me, there is a deeper mission,” Dortch said. “We will be contributing to positive media to build a better society”
				div.recomendations__person
					div.recomendations__image
						//img.imagen-fluida(src="img/uvu.webp")
					h6.recomendations__name The Daily Herald
					p.recomendations__subtitle Newspaper

			div.recomendations__module
				p.recomendations__text “Chris is a lot of fun to work with. He’s the kind of guy you can sit down and chat with for five minutes and he already pictures your vision. He’s extremely creative with After Effects and knows how to get the job done. When I need something out-of-the-box, Chris is the man to go to.”
				div.recomendations__person
					div.recomendations__image
						img.imagen-fluida(src="img/tonyhadlock.webp")
					h6.recomendations__name Tony Hadlock
					p.recomendations__subtitle Producer

			div.recomendations__module
				p.recomendations__text “When you are looking for a creative genius look no further than Chris. I have worked with him off and on for over 15 yrs now. He has helped me land some of my biggest clients. If you ever get the chance to work with him you will not be disappointed.”
				div.recomendations__person
					div.recomendations__image
						img.imagen-fluida(src="img/woodywoodward.webp")
					h6.recomendations__name Woody Woodward
					p.recomendations__subtitle CEO, M.O.N.E.Y. Matrix

			div.recomendations__module
				p.recomendations__text Newswriter Debra Lordan of Pacific Media Group wrote the following about Dortch, “The idea to preserve and honor the area through photos and film footage fits perfectly with Dortch’s former career as a National Geographic photographer and cinematographer, where he digitized and distributed multimedia content online”
				div.recomendations__person
					div.recomendations__image
						//img.imagen-fluida(src="img/uvu.webp")
					h6.recomendations__name Debra Lordan
					p.recomendations__subtitle Pacific Media Group

			div.recomendations__module
				p.recomendations__text Chris Dortch is a man of integrity, vision, and leadership with incredible amounts of business knowledge and experience, which ranges from raising venture capital to selling company shares. While Chris regularly leads organized board meetings and prepares various company reports, he is a rainmaker and one that generates opportunity wherever he goes. Chris has orchestrated multiple very successful win-win deals involving both domestic and international negotiations. Chris has many business contacts and friends, of which I am both.
				div.recomendations__person
					div.recomendations__image
						img.imagen-fluida(src="img/ronwhite.webp")
					h6.recomendations__name Ron White
					p.recomendations__subtitle CTO Global Archive, Inc.

			div.recomendations__module
				p.recomendations__text Adobe called the digital imagery created by Dortch’s company, “amazing, stunning work” that caused “Goosebumps in the audience!”
				div.recomendations__person
					div.recomendations__image
						//img.imagen-fluida(src="img/uvu.webp")
					h6.recomendations__name Adobe
					p.recomendations__subtitle 

	section.banner
		h1 60 Telly Awards

		h5 Adobe Design Achievement Award

		h5 Special recognition by the National Geographic Society

		h5 Awards from TV Land, Daytime Emmy, BPI, as well as the DVD Premiere Award

		h3 Award-winning cinematography of Chris Dortch

	footer.footer
		div Chris Dortch
		div chrisdortch@gmail.com | (801) 362-7229
		
	script(src="js/jquery.min.js")
	script(type="text/javascript").

		$(document).ready(function(){
			$.fn.extend({
				toggleText: function(a, b){ 
					return this.text(this.text() == b ? a:b);
				}
			});
			
			$('#experienceLearnMore').click(function(){
				let father = $(this).parent();
				let text = $(father).children('div#experienceText');
				let	buttonText = $(this).children('p');
				let button = $(this);
				let svg = $(this).children('svg');
				console.log(father);
				console.log(text);
				console.log(button);
				$(text).slideToggle();
				$(svg).toggle();
				$(buttonText).toggleText("Learn more", "X");
			});
		});